<div class="container">
  <div class= "small-container mt-3">
    <div class = "right-container">
      <h1>Hi, welcome to moodTracker !!</h1>
      <p>Find me in app/views/pages/home.html.erb</p>
    </div>
    <div>
     <img class = "image" src="https://i.pinimg.com/564x/92/1f/38/921f38dcdcba6b0b7648aba2fff17f59.jpg" alt="someone happlily running illustration">
    </div>
  </div>
</div>
