<div class="container">
  <div>
    <h1>Patients</h1>
    <% @patients.each do |patient|%>
    <h2><%= link_to "#{patient.first_name}, #{patient.last_name}", patients_path(patient) %></h2>
    <p> <% patient.age %></p>
    <% end %>
  </div>
</div>